<div class="en-input-group" *ngIf="control && !value">
  <select name="" class="en-form-control custom-select w-100" [formControl]="control" (change)="handlerChange($event)"
          [disabled]="!options || (options && options.length === 0) || isDisabled">
    <option *ngFor="let option of options" value="{{option.id}}">
      {{option.value}}
    </option>
  </select>

  <label>{{ label | translate }}
    <loading-info [id]="loadingId"></loading-info>
  </label>
</div>

<div class="en-input-group" *ngIf="!control && value">
  <select name="" class="en-form-control custom-select w-100" [(ngModel)]="value" (ngModelChange)="handlerChange($event)"
          [disabled]="!options || (options && options.length === 0) || isDisabled">
    <option *ngFor="let option of options" value="{{option.id}}">
      {{option.value}}
    </option>
  </select>

  <label>{{ label | translate }}
    <loading-info [id]="loadingId"></loading-info>
  </label>
</div>
