* {
  outline: none;
}

html, body {
    height: 100%;
}

body {
    overflow-y: scroll;
}

footer {
    flex: 0 0 60px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}


.navbar-default {
    border-bottom: 1px solid darkgray;
    border-radius: 0px;

}

.navbar-nav {
    margin-top: 8px;
}