<div class="row error-message">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="form-control-feedback" style="color:red;" *ngIf="modal.incorrectCredentials" id="modalFormError" > 
            <h5>Failed to sign in! Please check your credentials and try again.</h5>            
        </div>
    </div>  
</div>

<div class="row">   
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <form  #loginForm="ngForm" *ngIf="formFields && formFields.length > 0" (ngSubmit)="submit(loginForm.form.value)" >
            <div *ngFor="let field of formFields" class="form-group" [ngClass]="{'has-danger': modal.incorrectCredentials}">
                <input type="{{field.type?field.type: 'text'}}" name="{{field.name}}" class="form-control" 
                [(ngModel)]="field.model" 
                    placeholder="{{field.placeholder}}" (focus)="modal.incorrectCredentials = false">
                <br>
            </div>
            <br>
            <button class="btn btn-primary" type="submit"  [disabled]="!loginForm.form.valid" >
                {{ 'buttons.login' | translate }}
            </button>
        </form>
    </div>
</div>
